#chat-screen {
    background-color: #abc1d1;
    height: 1100vh;
}

#chat-screen .status-bar {
    z-index: 2;
    background-color: #abc1d1;

}

#chat-screen .alt-header {
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    background-color: #abc1d1;
    z-index: 1;
}

.main-screen.main-chat {
    padding-top: 120px;
}

.main-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes fadeIn1 {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 100;
    }
    
}

.main-screen.main-chat .message-row {
    animation: fadeIn1 0.6s linear;
}

@keyframes fadeIn2 {
    from {
        transform: translateX(20px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 100;
    }
    
}

.main-screen.main-chat .message-row.message-row--own {
    animation: fadeIn2 0.6s linear;
}


.chat__timestamp {
    color: rgba(234, 234, 234, 0.8);
    background-color: rgba(1, 1, 1, 0.16);
    font-size: 15px;
    padding: 10px;
    border-radius: 18px;
    margin-bottom: 24px;
}

.message-row {
    width: 100%;
    display: flex;

}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 14px;
    margin-right: 10px;
}

.message-row__content {
    color: rgba(1, 1, 1, 0.4);
}

.message__author {
    display: block;
    margin-bottom: 8px;
}

.message__detail {
    display: flex;
    align-items: flex-end;
}

.message__description {
    color: black;
    font-size: 20px;
    background-color: white;
    padding: 13px;
    margin-right: 6px;
    border-radius: 12px;
    border-top-left-radius: 0px;
}

.message__timestamp {
    font-size: 14px;
}

.message-row.message-row--own {
    justify-content: flex-end;
}

.message-row--own .message__detail{
    flex-direction: row-reverse;
    
}

.message-row--own .message__detail .message__description{
    background-color: #F6D503;
    margin-left: 6px;
    margin-right: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 0px;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px 0px 20px;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

.reply .reply__column:first-child {
    width: 10%;
}
.reply .reply__column:last-child {
    width: 90%;
    position: relative;
}

.reply__column button {
    background-color: white;
    border: none;
    opacity: 0.6;
    padding: 0px;
}

.reply input {
    border: 1px solid rgba(1, 1, 1, 0.16);
    border-radius: 25px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

.reply__column:last-child .reply__column__imoticon,
.reply__column:last-child .reply__column__hashtag {
    position: absolute;
}

.reply__column:last-child .reply__column__imoticon {
    right: 45px;
    top: 12px;
}

.reply__column:last-child .reply__column__hashtag {
    right: 15px;
    top: 12px;
}

/* .reply .reply__column:first-child,
.reply .reply__column__imoticon,
.reply .reply__column__hashtag {
    transition: all 0.5s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .reply__column__imoticon,
.reply:focus-within .reply__column__hashtag {
    opacity: 0;
} */

.reply:focus-within {
    transform: translateY(50px);
}

.reply:focus-within input {
    width: 95vw;
    transform: translateX(-11%) translateY(-50px);
}