

.main-screen_icons {
    margin-top: 24px;
}

.recommended-friends {
    margin-top: 28px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.recommended-friends__title {
    font-size: 18px;
    margin-top: 24px;
    color: rgba(0, 0, 0, 0.4);
}

.recommended-friends__contents {
    margin-top: 120px;
    margin-bottom: 120px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.open-chat {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.open-chat__header {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.open-chat__header__title {
    color: rgba(0, 0, 0, 0.6);
}

.open-chat__header__link {
    color: rgba(0, 0, 0, 0.4);
}
.open-chat__header__link i {
    margin-left: 8px;
}

.open-chat__recommended {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-chat__recommended-info {
    display: flex;
    flex-direction: column;
}

.open-chat__recommended-info__host {
    display: flex;
    align-items: center;
}

.open-chat__recommended-info__host img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}

.open-chat__recommended-img img {
    width: 130px;
    height: 130px;
    border-radius: 10px;
}

.open-chat__recommended-info__title {
    font-size: 23px;
}

.open-chat__recommended-info__hashtag {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.4);
}
.open-chat__recommended-info__host .divider {
    height: 16px;
    width: 1.5px;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0px 8px;
}

.open-chat__recommended-info__host__member-count {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.4);
}

.open-chat__status {
    font-size: 18px;
    color: #F5B0C5;
}

.open-chat__recommended-img {
    position: relative;
}

.open-chat__recommended-img__heart-count {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 9px;
    position: absolute;
    bottom: 10px;
    left: 48px;
    border-radius: 15px;
}

.open-chat__recommended-img__heart-count i {
    margin-right: 10px;
}