.settings-setting {
    padding-top: 120px;
}

.settings-setting__row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 24px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings-setting__row:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.0);

}

.settings-setting__row i {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 22px;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.8);
}

.settings-setting__row span:not(.badge-new) {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
}

.settings-setting__row-subtitle span:not(.badge-new) {
    color: rgba(0, 0, 0, 0.4);
}

.settings-setting-second {
    border-top: 1px solid rgba(0, 0, 0, 0.2);

}

.badge-new {
    display: inline-block;
    background-color: tomato;
    color: white;
    width: 25px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-left: 8px;
}