.alt-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 56px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

.alt-header__column {
    font-size: 28px;
    font-weight: 500;
    width: 33%;
    margin: 0px 25px;
}

.alt-header__column:first-child {
    margin-right: auto;
}

.alt-header__column:nth-child(2) {
    text-align: center;
}

.alt-header__column:nth-child(3) {
    text-align:right;
}

.alt-header__column i {
    font-size: 28px;
}

.alt-header__column span:last-child {
    margin-left: 14px;
}