.user-component {
    /* margin: var(--default-left-space); */
}

.user-component__title-area {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 18px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.user-component__title, 
.user-component__title-area span {
    margin-top: 16px;
}

.user-component__contents-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.user-component__profile {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    margin-right: 18px;
}

.user-component__profile-area {
    display: flex;
    flex-direction: column;
}

.user-component__contents-area__left-side {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 340;
}

.user-component__contents-area__right-side {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: end;
}

.user-component__contents-area__right-side span {
    margin-bottom: 8px;
}

.user-component__profile-msg {
    color: rgba(0, 0, 0, 0.4);
    font-size: 19px;
    margin-top: 10px;
}

.user-component__profile-xl {
    width: 80px;
    height: 80px;
    border-radius: 30px;
    margin-right: 18px;
}

.user-component__profile-name-xl {
    font-size: 24px;
    font-weight: 600;
}

.user-component__profile-l {
    width: 70px;
    height: 70px;
    border-radius: 25px;
    margin-right: 18px;
}

.user-component__profile-name-l {
    font-size: 24px;
    font-weight: 420;
}

.user-component__profile-msg__alert {
    display: inline-flex;
    width: 15px;
    height: 15px;
    border: 1.5px solid red;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: red;
    margin-left: 4px;
}

